.bookDetail{
    height: 275px;
    width: 100%;
}
#divimg{
    width: 30%;
    padding: 40px;
    border: 1px solid #dcdcdc;
    position: relative;
    margin-bottom: 12px;
    width: 234px;
    height: 272px;
    float: left;
}
#divbook{
    width: 65%;
    margin-left: 50px;
    float: left;
}
#divbook p{
    display: inline;
    font-size: 18px;
    font-family: 微软雅黑;
    color: grey;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0 0 20px 0;
    max-height: 81px;
    overflow: hidden;
}
#divbook label{
    font-size: 18px;
    font-family:微软雅黑;
}
.info{
    margin-bottom: 20px;
}
#bookname{
    color: #222;
    font-family: 微软雅黑;
    font-size: 20px;
    font-weight: 900;
}
.addCart{
    margin-top: 110px;
}
#comment_div{
    height: 20px;
    width: 300px;
}
#comment_div div{
    float: left;
}
#public_comment{
    height: 20px;
    width: 300px;
}
#comment_text{
    height: 20px;
    width: 60px;
}
#public_comment_button{
    position: relative;
    left: 750px;

    float: right;
}